.app {
  display: flex;
  flex-direction: column;
  min-height: 150vh;  
  background-color: rgb(204, 204, 204);
}


.container {
  display: flex;
  flex-direction: row;   
  justify-content: center;
}


.listSection {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  color: white;
  min-width: 300px;
  min-height: 400px;
  padding-left: 30px;
}


.addSection {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  background-color: rgb(4, 4, 41);
  color:rgb(240, 234, 231);
  min-width: 300px;
  min-height: 400px;
  border-radius: 20px;

}


.listTitle {
  color:rgb(79, 153, 143);
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: bold;
}


.buttonAdd {
  margin-top: 35px;
  margin-right: 35px;
  margin-left: 35px;
  border-radius: 10px;
  height: 45px;
  font-size: 13px;
  font-weight: bold;
}


.titleAlumno {
  margin-left: 20px;
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}
.nameAlumno {
  margin-left: 20px;
  margin-top: 5px;
  font-size: 20px;
}
